.leaflet-popup-content-wrapper { padding: 5px 10px; }
.leaflet-popup-content .point-title { font: 11px bold; }

span.cluster-text {
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
	background: #fff; font-weight: bold;
	position: absolute;
	top: 1.5em;
	left: 0.5em;
	height: 1.5em;
	width: 1.5em;
	text-align: center;
}
.leaflet-markercluster-icon { position: relative; }

.amap-popup.popup-title, .paysan-popup.popup-title { font-weight: bold; font-size: 14px; text-align: center; display: block; }
.amap-popup.popup-subtitle, .paysan-popup.popup-subtitle { font-weight: bold; }
.amap.popup-subtitle, .amap-popup.popup-title , .amap-popup.popup-subtitle { color: #F05F0B}
.paysan.popup-subtitle, .paysan-popup.popup-title, .paysan-popup.popup-subtitle { color: #30822D; }

/*amap-popup popup-subtitle*/



